.TeamSnip {
  width: 50%;
}

@media only screen and (max-width: 450px) {
  .Program img {
    width: 90%;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 575px) {
  .TeamSnip {
    margin: 0px 0 40px 40px;
  }
}
