.Home div div h1 {
  color: #245e7d;
  font-weight: 400;
}

.VoicesLogo {
  padding-right: 190px;
  text-align: center;
  float: right;
  padding-left: 100px;
  margin: auto;
}

.VoicesLogo img {
  width: 60% !important;
  height: auto;
  margin: auto;
}

.VoicesLogo p {
  padding: 16px;
  margin: 0px 8%;
}
.ProgramSection {
  margin-bottom: 30px;
}

.BlueContainer {
  background-color: #245e7d;
  max-width: 100% !important;
  padding: 1px 14% !important;
}
.BlueContainer div div h4 {
  color: #cfb364;
  font-weight: 400;
}
.VideoSection {
  margin-top: 30px;
}
.AllPosts {
  color: white;
  background-color: #1c4b64;
  border-radius: 5px;
  width: 50%;
  margin-left: 12px;
  margin: 0 0 30px 12px;
  text-align: center;
  -webkit-transition: all 0.3s linear;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.AllPosts:hover {
  color: white;
  background-color: #15384b;
}
.BottomContainer {
  margin-bottom: 20px;
}
.HomeProgram {
  width: 40% !important;
}
.Supporter {
  width: 120px;
}
@media only screen and (max-width: 769px) {
  .Supporter {
    margin: 30px 0 0 35%;
  }
}
