.AppCarousel {
  background-color: #1b1b1b;
  margin-bottom: 20px;
}

.AppCarousel div div img {
  width: 46%;
  /* height: 12%; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 29%;
}

.AppCarousel a span {
  display: none;
}
.CarouselIndicators {
  top: 85%;
}
.CarouselIndicators li {
  background-color: grey !important;
  border-radius: 50% !important;
  width: 10px !important;
  height: 10px !important;
  opacity: 1 !important;
  cursor: pointer;
  -webkit-transition: all linear 0.5s !important;
  transition: all linear 0.5s !important;
  margin: 8% 2px 0 2px;
}
.CarouselIndicators li.active {
  background-color: #245e7d !important;
}
