.AboutUs {
}
.Header {
  color: #245e7d;
  padding-left: 2%;
  padding-top: 2%;
  margin-bottom: 40px;
}

.Member img {
  width: 90px;
  margin: 0 0 40px 82px;
}
.Member p {
  text-align: center;
}
.Pages {
  margin: 0 0 0 537px;
}
.PageNumberActive {
  list-style: none;
  display: inline;
  color: #41c7db;
  cursor: context-menu;
  font-size: 250%;
  padding-right: 2%;
}

.PageNumberNotActive {
  list-style: none;
  display: inline;
  color: grey;
  user-select: none;
  cursor: pointer;
  font-size: 250%;
  padding-right: 2%;
}
