.Logo {
  width: 80px;
  margin-left: -15px;
}

.YouthVoiceImg {
  width: 204px;
}

.NavLink {
  font-weight: 600;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.NavLink:hover {
  color: #245e7d !important;
}

.Item {
  border-right: #cfb364 1px solid;
}
.SocialItem {
  position: absolute;
  right: 222px;
  bottom: 13px;
  cursor: pointer;
}
.SocialItem svg {
  margin: 9px;
  font-size: 24pt;
  color: rgb(146, 146, 146);
  -webkit-transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  transition: color 0.1s linear;
}
.Facebook:hover {
  color: #3b5998;
}
.Twitter:hover {
  color: #1da1f2;
}
.Youtube:hover {
  color: #ff0000;
}
.SearchItem {
  position: absolute;
  right: 10px;
}
.Special {
  margin: 0;
}
@media only screen and (max-width: 1199px) {
  .SocialItem {
    position: relative;
    left: -11px;
    top: -4px;
  }
  .SearchItem {
    position: initial;
  }
}
