.Landing {
  height: 100%;
  min-height: 100%;
}
.Logo {
  width: 80px;
  margin-left: -15px;
}

.YouthVoiceImg {
  width: 204px;
}

.NavLink {
  font-weight: 600;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.NavLink:hover {
  color: #245e7d !important;
}

.Item {
  border-right: #cfb364 1px solid;
}
.SocialItem {
  position: absolute;
  right: 222px;
  bottom: 13px;
  cursor: pointer;
}
.SocialItem svg {
  margin: 9px;
  font-size: 24pt;
  color: #929292;
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear;
}
.Facebook:hover {
  color: #3f5c9a;
}
.Instagram:hover {
  color: #c8009d;
}
.Twitter:hover {
  color: #1da1f2;
}
.Youtube:hover {
  color: #ff0000;
}
.SearchItem {
  position: absolute;
  right: 10px;
}
.Special {
  margin: 0;
}

.Footer {
  border-top: #1c4b64 solid 10px;
  background-color: #245e7d;
  height: 50px;
}
.Footer ul {
  padding-top: 10px;
  list-style: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}
.Footer ul li:first-child {
  margin-left: 31%;
}
.Footer ul li a {
  font-weight: 400 !important;
  display: inline;
  padding: 0;
  margin: 0 15px;
  color: white;
  -webkit-transition: all linear 0.1s;
  transition: all linear 0.1s;
}
.Footer ul li a:hover {
  color: #1da1f2 !important;
  text-decoration: none;
}
@media only screen and (max-width: 1220px) {
  .SocialItem svg {
    font-size: 20pt;
  }
}
@media only screen and (max-width: 1199px) {
  .SocialItem {
    position: relative;
    left: -11px;
    top: -4px;
  }
  .SearchItem {
    position: initial;
  }
}
@media only screen and (max-width: 900px) {
  .Footer ul li:first-child {
    margin-left: 15%;
  }
}
@media only screen and (max-width: 669px) {
  .Footer ul li:first-child {
    margin-left: 0;
  }
  .Footer ul li a {
    margin: 0 10px;
  }
}
@media only screen and (max-width: 425px) {
  .Footer ul li a {
    margin: 0 4px;
  }
  .Footer ul li:first-child {
    margin-left: -6%;
  }
}
