.Programs {
  position: relative; /* needed for footer positioning*/
  height: 100% !important;
  min-height: 100% !important;
}
.Header {
  color: #245e7d;
  margin-bottom: 20px;
}
.Container {
  margin-top: 20px;
  height: 100% !important;
  min-height: 100% !important;
}
.TeamSnip {
  height: 215px;
  width: 245px;
}
