.NewsNode {
  margin: 0 0 50px 0;
}
.NewsNode img {
  display: inline;
  width: 40%;
}
.NewsNode p {
  display: inline;
  position: absolute;
  margin: 0 0 0 20px;
}

@media only screen and (max-width: 1075px) {
  .NewsNode {
    margin: 0 0 120px 0;
  }
}
@media only screen and (max-width: 775px) {
  .NewsNode {
    margin: 0 0 120px 0;
  }
}
@media only screen and (max-width: 465px) {
  .NewsNode {
    margin: 0 0 120px 0;
  }
}
